<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gbsaver.chatlocker">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission
        android:name="android.permission.BIND_ACCESSIBILITY_SERVICE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
        </intent>

        <package android:name="com.whatsapp" />
        <package android:name="com.whatsapp.HomeActivity" />

        <intent>
            <action android:name="android.intent.action.VIEW" />

            <category android:name="android.intent.category.BROWSABLE" />

            <data android:scheme="https" />
        </intent>
        <intent>
            <action android:name="android.support.customtabs.action.CustomTabsService" />
        </intent>
    </queries>
    <queries>
        <package android:name="com.whatsapp" />
        <package android:name="com.whatsapp.w4b" />
        <package android:name="com.eterno.shortvideos" />
        <package android:name="com.facebook.katana" />
        <package android:name="com.roposo.android" />
        <package android:name="in.mohalla.sharechat" />
        <package android:name="com.kwai.bulldog" />
        <package android:name="com.instagram.android" />
        <package android:name="com.twitter.android" />
    </queries>

    <application
        android:name=".MyApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activity.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.IntroActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.StartActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ChatLockerActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DirectChatActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PinLockActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ForgotPinActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ConfirmPinLockActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.statusaver.WhatsAppStatusSaverActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity.statusaver.VideoPlayerActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.StatusSaverActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.statusaver.activity.InstagramActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.statusaver.activity.FacebookActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.statusaver.activity.TwitterActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.statusaver.activity.TikTokActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.statusaver.activity.SharechatActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.statusaver.activity.ReposeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.statusaver.activity.MojActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <receiver
            android:name=".broadcast.RebootReciver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <service
            android:name=".services.AccessibilityServiceHandler"
            android:exported="true"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_launcher" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />

        <service
            android:name=".AdsUtils.FirebaseADHandlers.FirebaseMessagingService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/xml" />
        </provider>
    </application>

</manifest>